<!-- head scripts -->

<style>
    /* Critical CSS goes here */
    .h1-title-is-2 { 
      color: #007bff;
      font-siza: 2em;
    }
    p.subtitle.is-3 {
      /* Critical CSS styles go here */
      font-size: 1.5em;
      color: #333;
      /* Add other critical styles */
    }
    /* Add other critical styles */
  </style>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6557769880009038"
     crossorigin="anonymous"></script>

<script async src="https://fundingchoicesmessages.google.com/i/pub-6557769880009038?ers=1" nonce="dIfpG04Mfanzq0SPFp1rTQ"></script><script nonce="dIfpG04Mfanzq0SPFp1rTQ">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>
